<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Đăng Nhập - Đăng Ký Tài Khoản Khách Hàng</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets\img\logo\khactu-logo.jpg">
		
		<!-- all css here -->
       <link rel="stylesheet" href="assets\css\bootstrap.min.css">
        <link rel="stylesheet" href="assets\css\plugin.css">
        <link rel="stylesheet" href="assets\css\bundle.css">
        <link rel="stylesheet" href="assets\css\style.css">
        <link rel="stylesheet" href="assets\css\responsive.css">
        <script src="assets\js\vendor\modernizr-2.8.3.min.js"></script>

        <!-- Ví dụ với thư viện sweetalert2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </head>
    <body>
            <!-- Add your site or application content here -->
            
            <!--pos page start-->
            <div class="pos_page">
                <div class="container"> 
                    <!--pos page inner-->
                    <div class="pos_page_inner">  
                       <!--header area -->
                        <div class="header_area">

                            <!--header top-->                                 
                            <%- include('../TrangChu/partials/header_top.ejs') %>
                            <!--header top end-->

                            <!--header middel--> 
                            <%- include('../TrangChu/partials/header_middel.ejs') %>
                            <!--header middel end-->      
                        
                            <!--header bottom--> 
                            <%- include('../TrangChu/partials/header_bottom.ejs') %>
                            <!--header bottom end-->  

                        </div>
                        <!--header end -->
                         <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                    <div class="col-12">
                                        <div class="breadcrumb_content">
                                            <ul>
                                                <li><a href="/">home</a></li>
                                                <li><i class="fa fa-angle-right"></i></li>
                                                <li>login</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!--breadcrumbs area end-->

                       <!-- customer login start -->
                        <div class="customer_login">
                            <div class="row">
                                       <!--login area start-->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="account_form">
                                                <h2>login</h2>
                                                <form action="/dang-nhap-tkkh" method="post" id="login-form">
                                                    <p>   
                                                        <label for="username_email">Username or email <span style="color: red;">*</span></label>
                                                        <input required id="username_email" type="email" name="username_email">
                                                     </p>
                                                     <p>   
                                                        <label for="passLogin">Passwords <span style="color: red;">*</span></label>
                                                        <input required id="passLogin" type="password" name="passLogin">
                                                     </p>   
                                                    <div class="login_submit">
                                                        <button type="submit">login</button>
                                                        <label for="remember">
                                                            <input id="remember" type="checkbox">
                                                            Remember me
                                                        </label>
                                                        <a href="#">Lost your password?</a>
                                                    </div>
                                                    <span id="statusMessageLogin" style="color: blue; font-size: 18px; position: relative; top: 5px;"></span>

                                                </form>
                                             </div>     
                                        </div>
                                        <!--login area start-->

                                        <!--register area start-->
                                        <div class="col-lg-6 col-md-6">
                                            <div class="account_form register">
                                                <h2>Register</h2>
                                                <form action="/dang-ky-tkkh" method="post" id="register-form">
                                                    <p>   
                                                        <label for="emaildk">Email address  <span style="color: red;">*</span></label>
                                                        <input required id="emaildk" type="email" name="emaildk">
                                                     </p>
                                                     <p>   
                                                        <label for="name">Name  <span style="color: red;">*</span></label>
                                                        <input required id="name" type="text" name="name">
                                                     </p>
                                                     <p>   
                                                        <label for="passdk">Passwords <span style="color: red;">*</span></label>
                                                        <input required id="passdk" type="password" name="passdk">
                                                     </p>
                                                    <div class="login_submit">
                                                        <button type="submit" style="border: none;">Register</button>                                                      
                                                        <span id="statusMessage" style="color: blue; font-size: 18px;"></span>
                                                    </div>
                                                </form>
                                            </div>    
                                        </div>                                       
                                        <!--register area end-->                                       
                                        
                            </div>
                        </div>
                        <!-- customer login end -->

                    </div>
                    <!--pos page inner end-->
                </div> 
            </div>
            <!--pos page end-->
            
            <!--footer area start-->
            <%- include('../TrangChu/partials/footer.ejs') %>
            <!--footer area end-->
            
            
            
            
      
		
		<!-- all js here -->
        <script src="assets\js\vendor\jquery-1.12.0.min.js"></script>
        <script src="assets\js\popper.js"></script>
        <script src="assets\js\bootstrap.min.js"></script>
        <script src="assets\js\ajax-mail.js"></script>
        <script src="assets\js\plugins.js"></script>
        <script src="assets\js\main.js"></script>

        <script src="assets\js\dangnhap_dangky_tkkh.js"></script>
    </body>
</html>
