<div class="header_top">
    <div class="row align-items-center">
         <div class="col-lg-6 col-md-6">
            <div class="switcher">
                 <ul>
                     <li class="languages"><a href="#"><img src="assets\img\logo\fontlogo.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                         <ul class="dropdown_languages">
                             <li><a href="#"><img src="assets\img\logo\fontlogo.jpg" alt=""> English</a></li>
                             <li><a href="#"><img src="assets\img\logo\fontlogo2.jpg" alt=""> French </a></li>
                         </ul>   
                     </li> 

                     <li class="currency"><a href="#"> Currency : $ <i class="fa fa-angle-down"></i></a>
                         <ul class="dropdown_currency">
                             <li><a href="#"> Dollar (USD)</a></li>
                             <li><a href="#"> Euro (EUR)  </a></li>
                         </ul> 
                     </li> 
                 </ul>
             </div>
         </div>
         <div class="col-lg-6 col-md-6">
             <div class="header_links">
                 <% if (logIn) { %>                                                  
                <ul>
                    <li>
                        <span style="font-size: 18px; display: inline-block; position: relative; top: 5px; color: blue;">Xin Chào: </span> &ensp;
                        <a style="
                            font-size: 18px; 
                            color: rgb(15, 121, 47); 
                            font-weight: 100; 
                            display: inline; 
                            position: relative; 
                            top: 5px;                            
                            " href="#"> <%= hoten %></a>  &ensp;
                    </li>
                    <li>
                        <a style="font-size: 18px; font-weight: bold; color: rgb(0, 0, 0); position: relative; top: 2px;" href="/dang-xuat-tkkh">Đăng Xuất</a>  
                    </li>    
                    <!-- <li><a style="font-size: 18px;" href="#" title="My account">My account</a></li>           -->
                </ul>
                <% } else { %>                    
                <ul>
                    <li><a style="font-size: 18px;" href="#" title="Contact">Contact</a></li>
                    <li><a style="font-size: 18px;" href="#" title="wishlist">My wishlist</a></li>                    
                    <li><a style="font-size: 18px;" href="#" title="My cart">My cart</a></li>
                    <li><a style="font-size: 18px;" href="/login-tk-kh" title="Login">Login</a></li>
                </ul>
                <% } %>   
             </div>   
         </div>
    </div> 
 </div> 