<div class="header_bottom">
    <div class="row">
            <div class="col-12">
                <div class="main_menu_inner">
                    <div class="main_menu d-none d-lg-block">
                        <nav>
                            <ul>
                                <li class=""><a href="/">Home</a>
                                    <div class="mega_menu jewelry">
                                        <div class="mega_items jewelry">
                                            <ul>
                                                <li><a href="/">Trang Chủ Nước Hoa</a></li>
                                                <li><a href="/hien-thi-2-home">Trang Chủ Game</a></li>
                                            </ul>
                                        </div>
                                    </div> 
                                </li>
                                <li><a href="#">shop</a>
                                    <div class="mega_menu jewelry">
                                        <div class="mega_items jewelry">
                                            <ul>
                                                <li><a href="/shop-list-ht1">Nước Hoa Đẳng Cấp</a></li>
                                                <li><a href="/shop-list-ht2">Shop GAME</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>  
                                </li>
                                <li><a href="#">Product Category</a>
                                    <div class="mega_menu">
                                        <div class="mega_top fix">
                                            <div class="mega_items">
                                                <h3><a href="/shop-list-ht1">Nước Hoa</a></h3>
                                                <ul>
                                                    <li><a href="#">Dành Cho Nam</a></li>
                                                    <li><a href="#">Dành Cho Nữ</a></li>                                                   
                                                </ul>
                                            </div>
                                            <div class="mega_items">
                                                <!-- <h3><a href="#">Accessories</a></h3>
                                                <ul>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Hats and Gloves</a></li>
                                                    <li><a href="#">Lifestyle</a></li>
                                                    <li><a href="#">Bras</a></li>
                                                    <li><a href="#">Scarves</a></li>
                                                    <li><a href="#">Small Leathers</a></li>
                                                </ul> -->
                                                <div> &nbsp;</div>
                                                <!-- <a href="#"><img src="assets\img\slider\upto40.jpg" alt=""></a>
                                                <a href="#"><img src="assets\img\slider\avatar1.jpg" alt=""></a> -->
                                            </div>
                                            <div class="mega_items">
                                                <h3><a href="/shop-list-ht2">GAME</a></h3>
                                                <ul>
                                                    <li><a href="#">Account Nam</a></li>
                                                    <li><a href="#">Account Nữ</a></li>                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="mega_bottom fix">
                                            <div class="mega_thumb">
                                                <a href="#"><img src="assets\img\slider\upto40.jpg" alt=""></a>
                                            </div>
                                            <div class="mega_thumb">
                                                <a href="#"><img src="assets\img\slider\avatar1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li><a href="#">pages</a>
                                    <div class="mega_menu">
                                        <div class="mega_top fix">
                                            <div class="mega_items">
                                                <h3><a href="#">Column1</a></h3>
                                                <ul>
                                                    <li><a href="portfolio.html">Portfolio</a></li>
                                                    <li><a href="portfolio-details.html">single portfolio </a></li>
                                                    <li><a href="about.html">About Us </a></li>
                                                    <li><a href="about-2.html">About Us 2</a></li>
                                                    <li><a href="services.html">Service </a></li>
                                                    <li><a href="my-account.html">my account </a></li>
                                                </ul>
                                            </div>
                                            <div class="mega_items">
                                                <h3><a href="#">Column2</a></h3>
                                                <ul>
                                                    <li><a href="blog.html">Blog </a></li>
                                                    <li><a href="blog-details.html">Blog  Details </a></li>
                                                    <li><a href="blog-fullwidth.html">Blog FullWidth</a></li>
                                                    <li><a href="blog-sidebar.html">Blog  Sidebar</a></li>
                                                    <li><a href="faq.html">Frequently Questions</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                </ul>
                                            </div>
                                            <div class="mega_items">
                                                <h3><a href="#">Column3</a></h3>
                                                <ul>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="cart.html">cart</a></li>
                                                    <li><a href="checkout.html">Checkout  </a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li><a href="blog.html">blog</a>
                                    <div class="mega_menu jewelry">
                                        <div class="mega_items jewelry">
                                            <ul>
                                                <li><a href="blog-details.html">blog details</a></li>
                                                <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                                <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                            </ul>
                                        </div>
                                    </div>  
                                </li>
                                <li><a href="contact.html">contact us</a></li>

                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu d-lg-none">
                        <nav>
                            <ul>
                                <li><a href="/">Trang Chủ</a>
                                    <div>
                                        <div>
                                            <ul>
                                                <li><a href="/">Trang Chủ Nước Hoa</a></li>
                                                <li><a href="/hien-thi-2-home">Trang Chủ GAME</a></li>
                                            </ul>
                                        </div>
                                    </div> 
                                </li>
                                <li><a href="#">shop</a>
                                    <div>
                                        <div>
                                            <ul>
                                                <li><a href="/shop-list-ht1">Nước Hoa Đẳng Cấp</a></li>
                                                <li><a href="/shop-list-ht2">Shop GAME</a></li>                                                
                                            </ul>
                                        </div>
                                    </div>  
                                </li>
                                <li><a href="#">Product Category</a>
                                    <div >
                                        <div>
                                            <div>
                                                <h3><a href="/shop-list-ht1">Nước Hoa</a></h3>
                                                <ul>
                                                    <li><a href="#">Dành Cho Nam</a></li>
                                                    <li><a href="#">Dành Cho Nữ</a></li>                                                   
                                                </ul>
                                            </div>
                                            <div>                                                
                                                <div> &nbsp;</div>
                                            </div>
                                            <div>
                                                <h3><a href="/shop-list-ht2">GAME</a></h3>
                                                <ul>
                                                    <li><a href="#">Account Nam</a></li>
                                                    <li><a href="#">Account Nữ</a></li>                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <div >
                                                <a href="#"><img src="assets\img\slider\upto40.jpg" alt=""></a>
                                            </div>
                                            <div >
                                                <a href="#"><img src="assets\img\slider\avatar1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li><a href="#">pages</a>
                                    <div>
                                        <div>
                                            <div>
                                                <h3><a href="#">Column1</a></h3>
                                                <ul>
                                                    <li><a href="portfolio.html">Portfolio</a></li>
                                                    <li><a href="portfolio-details.html">single portfolio </a></li>
                                                    <li><a href="about.html">About Us </a></li>
                                                    <li><a href="about-2.html">About Us 2</a></li>
                                                    <li><a href="services.html">Service </a></li>
                                                    <li><a href="my-account.html">my account </a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h3><a href="#">Column2</a></h3>
                                                <ul>
                                                    <li><a href="blog.html">Blog </a></li>
                                                    <li><a href="blog-details.html">Blog  Details </a></li>
                                                    <li><a href="blog-fullwidth.html">Blog FullWidth</a></li>
                                                    <li><a href="blog-sidebar.html">Blog  Sidebar</a></li>
                                                    <li><a href="faq.html">Frequently Questions</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h3><a href="#">Column3</a></h3>
                                                <ul>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="cart.html">cart</a></li>
                                                    <li><a href="checkout.html">Checkout  </a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li><a href="blog.html">blog</a>
                                    <div>
                                        <div>
                                            <ul>
                                                <li><a href="blog-details.html">blog details</a></li>
                                                <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                                <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                            </ul>
                                        </div>
                                    </div>  
                                </li>
                                <li><a href="contact.html">contact us</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</div>