<div class="select_option">
    <form action="/search-nuoc-hoa" method="get">       
        <ul class="nav" role="tablist">
            <li>
                <select name="giaSP" id="short">
                    <option selected value="10-50">____  Chọn theo giá  ____</option>
                    <option value="50-500"> Nhỏ hơn 500k</option>
                    <option value="500-1900">500k đến 1M9</option>
                    <option value="2000-4500">2M đến 4M5</option>
                    <option value="5000-10000">5M đến 10M</option>
                    <option value="10000-99999">Trên 10M</option>                                                                            
                </select>
            </li>
            <li>
                <select name="tenloaiNH" id="short1">
                    <option selected value="">____  Chọn theo loại  ____</option>
                    <% loaiSPNamNu.forEach(function(loaiSPNamNu) { %> 
                    <option value="<%= loaiSPNamNu._id %>">Nước hoa <%= loaiSPNamNu.TenLoaiNamNu %></option>
                    <% }); %>                                                                      
                </select>
            </li>
            <li><button style="margin-left: 10px;cursor: pointer;" type="submit" class="btn btn-primary">Xem Sản Phẩm</button></li>
        </ul>
    </form>
</div>